<ion-view>
<ion-content ng-name="info">  

                <div class='cols col-12 gray_info'>
                    Express Click-n-Collect
                </div> 
                <div class='cols col-12 info_store'>
                    This App is to submit an order to your favorite grocery store. Your order will be ready in a cart in the
                    express pick up lane at your store, with your name on it. You can pick it up 20 minutes. If the itms are not 
                    available, store will replace it with similar items.
                </div>
                 <div class='cols col-12 info_footer'>
                    Following stores are accepting this app. You can request new stores that you regularly use.
                </div> 
</ion-content>
  </ion-view>