<ion-view>
<ion-content ng-name="your">  
        <div ng-controller="buyCTRL">
           <div class="card " >
                <div class="item item-text-wrap" style="text-align:center; background: #E5E5E5; border:none;">
                 <b> {{namestore}}</b>
                  <p style="font-size:0.9em; padding-top:10px;"><span>{{address}}</span>, <span>{{city}}</span>, <span>{{zip}}</span></p>
                  <p style="color:#00ad0e; position:relative;  bottom:45px; left:140px; font-weight:bold; ">{{accept}}</p>
                </div>
              </div>
            <div class="row">
                <div class='cols col-12'>
                    <div class="list">
                        <label class="item item-input">
                          <input type="text" placeholder="Product" ng-model="item">
                        </label>
                        <label class="item item-input">
                          <input type="text" placeholder="Amount" ng-model="price">
                        </label>
                      </div>
                    <div class="row">
                        <div class="col col-40 col-offset-10"> <button class="button  button-balanced " ng-click="buy(item, price)">ADD TO LIST
                    </button></div>
                       <div class="col col-40 "> <button class="button  button-assertive " ng-click="products.splice($index, 1)" >DELETE LIST
                    </button></div>
                      </div>
                      <div class="card">
                            <div class="item item-divider cart_product" style="background:#ebebeb; " ng-repeat="product in products">
                             <p><span>Product:</span> <span style="padding-left:30px;">{{product.item}}{{product.face}}</span></p>
                             <p><span>Amount:</span> <span style="padding-left:30px;">{{product.price}}</span></p>
                             <img src="images/red.png" alt=""  ng-click="products.splice($index, 1)"/>
                           </div>
                   </div>
                </div>   
            </div>
        </div>
</ion-content>
  </ion-view>